.tools/
.local/
**/bin/
**/obj/
**/node_modules/
**/dist/
**/wwwroot/assets/
**/wwwroot/index.html
artifacts/
TestResults/
playwright-report/
test-results/
.env*
*.user
*.log

*.tsbuildinfo

# Configuración privada y datos locales
**/appsettings.Local.json
**/appsettings.*.Local.json
*.pfx
*.p12
*.key
*.pem
*.mdf
*.ldf
*.bak
.vs/
